#profiler {
    clear: both;
    background: #222;
    opacity: 0.45;
    padding: 0 5px;
    font-family: Helvetica, sans-serif;
    font-size: 10px !important;
    line-height: 12px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#profiler:hover {
    background: #101010;
    opacity: 1.0;
}


#profiler.bottom-right {
    bottom: 0;
    right: 0;
    -webkit-box-shadow: -1px -1px 10px #222;
    -moz-box-shadow: -1px -1px 10px #222;
    box-shadow: -1px -1px 10px #222;
}

#profiler.bottom-left {
    bottom: 0;
    top: auto;
    -webkit-box-shadow: 1px -1px 10px #222;
    -moz-box-shadow: 1px -1px 10px #222;
    box-shadow: 1px -1px 10px #222;
}

#profiler.top-left {
    top: 0;
    left: 0;
    -webkit-box-shadow: 1px 1px 10px #222;
    -moz-box-shadow: 1px 1px 10px #222;
    box-shadow: 1px 1px 10px #222;
}

#profiler.top-right {
    top: 0;
    right: 0;
    -webkit-box-shadow: -1px 1px 10px #222;
    -moz-box-shadow: -1px 1px 10px #222;
    box-shadow: -1px 1px 10px #222;
}


.profiler-box {
    clear: both;
    padding: 10px 0 10px 20px;
    max-height: 400px;
    overflow: auto;
    color: #fff;
    font-family: Monaco, 'Lucida Console', 'Courier New', monospace;
    font-size: 11px !important;
}

.profiler-box h2 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px !important;
    padding: 0;
    line-height: 2.0;
}


#profiler-menu span {
    display: inline-block;
    padding: 7px 0;
    margin: 0;
    text-decoration: none;
    font-weight: lighter;
    cursor: pointer;
    text-align: center;
    width: 15.5%;
    border-bottom: 4px solid #444;
}

#profiler-menu span:hover, #profiler-menu span.current {
    background-color: #222;
    border-color: #999;
}

#profiler-menu span {
    font-weight: bold;
    font-size: 16px !important;
    line-height: 1.2;
}

#profiler-menu-queries, #profiler-queries h2 {
    color: #3769A0;
}

#profiler-menu-vars, #profiler-vars h2 {
    color: #D28C00;
}

#profiler-menu-files, #profiler-files h2 {
    color: #5a8616;
}

#profiler table {
    width: 100%;
}

#profiler table.main td {
    padding: 7px 15px;
    text-align: left;
    vertical-align: top;
    color: #aaa;
    border-bottom: 1px dotted #444;
    line-height: 1.5;
    background: #101010 !important;
    font-size: 12px !important;
}

#profiler table.main tr:hover td {
    background: #292929 !important;
}

#profiler table.main code {
    font-family: inherit;
    padding: 0;
    background: transparent;
    border: 0;
    color: #fff;
}

#profiler table .hilight {
    color: #FFFD70 !important;
}

#profiler table .faded {
    color: #aaa !important;
}

#profiler table .small {
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: lighter;
}

#profiler-menu-exit {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAIhSURBVDjLlZPrThNRFIWJicmJz6BWiYbIkYDEG0JbBiitDQgm0PuFXqSAtKXtpE2hNuoPTXwSnwtExd6w0pl2OtPlrphKLSXhx07OZM769qy19wwAGLhM1ddC184+d18QMzoq3lfsD3LZ7Y3XbE5DL6Atzuyilc5Ciyd7IHVfgNcDYTQ2tvDr5crn6uLSvX+Av2Lk36FFpSVENDe3OxDZu8apO5rROJDLo30+Nlvj5RnTlVNAKs1aCVFr7b4BPn6Cls21AWgEQlz2+Dl1h7IdA+i97A/geP65WhbmrnZZ0GIJpr6OqZqYAd5/gJpKox4Mg7pD2YoC2b0/54rJQuJZdm6Izcgma4TW1WZ0h+y8BfbyJMwBmSxkjw+VObNanp5h/adwGhaTXF4NWbLj9gEONyCmUZmd10pGgf1/vwcgOT3tUQE0DdicwIod2EmSbwsKE1P8QoDkcHPJ5YESjgBJkYQpIEZ2KEB51Y6y3ojvY+P8XEDN7uKS0w0ltA7QGCWHCxSWWpwyaCeLy0BkA7UXyyg8fIzDoWHeBaDN4tQdSvAVdU1Aok+nsNTipIEVnkywo/FHatVkBoIhnFisOBoZxcGtQd4B0GYJNZsDSiAEadUBCkstPtN3Avs2Msa+Dt9XfxoFSNYF/Bh9gP0bOqHLAm2WUF1YQskwrVFYPWkf3h1iXwbvqGfFPSGW9Eah8HSS9fuZDnS32f71m8KFY7xs/QZyu6TH2+2+FAAAAABJRU5ErkJggg==') 0% 0% no-repeat;
    padding-left: 20px;
    position: absolute;
    right: 5px;
    top: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
